@import "../../styles/global.module";

.css-2m9kme-MuiFormControl-root {
  width: 300px;
  margin: 0;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Montserrat-Regular", sans-serif;
  color: var(--accent-text-color) !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  display: none;
}

.filter_text {
  padding: 10px 10px 10px 20px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 300;
  color: var(--accent-text-color) !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}


.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  backdrop-filter: blur(20px) !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: $outerBoxShadow;
  background-color: var(--background);
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select:focus{
  border-radius: 10px;
  border: none;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Montserrat-Regular", sans-serif;
  top: -5px;
  left: 0;
  color: var(--accent-text-color);
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  border-radius: 15px;
  backdrop-filter: blur(20px) !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  box-shadow: none;
  border-radius: 15px;
  margin-top: 10px;
  background: none !important;
  top: 140px !important;
}

.css-10hburv-MuiTypography-root {
  font-family: "Montserrat-Regular", sans-serif;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  backdrop-filter: blur(20px) !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  backdrop-filter: blur(20px) !important;
}