@import "../../styles/global.module";

.dropdown{
  display: grid;
  grid-gap: 10px;
  width: auto;
  position: relative;
  padding: 5px;
  box-shadow: 1px 2px 3px #b0b0b0, -2px -1px 7px #ffffff;
  border-radius: 10px;
  user-select: none;

  &__btn{
    padding:5px;
    font-weight: bold;
  }

  &__content{
    //display: flex;
    width: auto;
    padding: 10px;
    position: absolute;
    z-index: 3;
    top: 110%;
    left: 0;
    background-color: $background;
    box-shadow: 2px 2px 5px #b0b0b0, -2px 1px 2px #ffffff;
    border-radius: 10px
  }

  &__item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__item:hover{
    background: $lightGray;
    border-radius: 10px;
  }
}