@import 'styles/global.module';

$leftBarWidth: 55px;
$calendarHeaderHeight: 35px;
$roomWidth: 140px;

.grid-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &__events {
    z-index: 5;
    top: 11px;
  }

  &__columns {
    z-index: 5;
    display: flex;

    .grid-column {
      width: $roomWidth;
      border-right: $border300;

      &:last-child {
        border-right: none;
      }
    }
  }
}

$eventBorderRadius: 5px;

.event__container {
  overflow: hidden;
  height: 100%;
  background: var(--card-background);
  width: $roomWidth;
  box-shadow: 1px 1px 6px var(--gray), -1px -1px 6px var(--white);
  border-radius: $eventBorderRadius;

  overflow: hidden;
  cursor: pointer;

  &:hover {
    background: var(--card-hover-background);
    transition: 0.5s ease-in-out all;
  }

  
}

.month {
  width: 100% !important;
}

.day {
  position: absolute;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: -1;
    border-radius: $eventBorderRadius;
    box-shadow: $outerBoxShadow;
  }

  .clock {
    position: absolute;
    bottom: 8px;
    left: 10px;
    right: 0;
  }

  .event {
    padding: 5px 10px;
  }
}

.week {
  width: 100%;

  .event {

    &__colored-line {
      width: 3px;
    }

    &__header {
      color: var(--text-color-300) !important;
    }

    &__description {
      color: var(--text-color-300) !important;
    }
  }
}

.event {
  position: relative;
  overflow: hidden;

  height: 100%;

  border-radius: $eventBorderRadius;

  padding: 2px 8px;
  
  &.private-event{
    opacity: 0.6;
    background-color: var(--light-gray-280p);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: -1;
    // background: rgba(255, 0, 0, 0.495);
    border-radius: $eventBorderRadius;
    // box-shadow: $outerBoxShadow;
    filter: drop-shadow($outerBoxShadow);
  }

  &__colored-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    border-radius: $eventBorderRadius 0 0 $eventBorderRadius;
  }

  &__header {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-color-400);
  }

  &__description {
    font-size: 0.7rem;
    font-weight: 400;
    padding-top: 5px;
    color: var(--text-color-500);

    @include threeDotsOnOverflow(2);
  }
}

.event {
  overflow: hidden;

  div[data-size='small'] {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4px;

    .event__header {
      @include threeDotsOnOverflow(1);
    }
  }

  div[data-size='medium'] {
    .event__header {
      @include threeDotsOnOverflow(2);
    }
  }

  div[data-size='large'] {
    .event__header {
      font-size: 0.85rem;
      @include threeDotsOnOverflow(3);
    }
  }

  div[data-size='ultra-large'] {
    .event__header {
      font-size: 0.85rem;
      @include threeDotsOnOverflow(4);
    }

    .event__description {
      font-size: 0.7rem;
      @include threeDotsOnOverflow(6);
    }
  }
}

.clock {
  display: flex;
  align-items: center;
  gap: 2px;
  opacity: 0.8;

  img {
    width: 12px;
    height: 12px;
  }

  p {
    padding-top: 1px;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--text-color-300);
  }
}

.event-popover {
  width: 400px;
  height: 400px;

  padding: 10px;
  overflow: hidden;
  position: relative;

  background: var(--light-gray-910);

  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 100;

  box-shadow: $outerBoxShadow;
}

.tools-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 15px 8px;
}

.tools-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.edit-icon,
.trash-icon {
  cursor: pointer;
  transition: 0.5s opacity;

  &:hover {
    opacity: 0.7;
  }
}

.edit-icon {
  width: 17px;
  height: 17px;
}

.trash-icon {
  height: 22px;
  width: 22px;
}

.exit-icon {
  cursor: pointer;
  height: 26px;
  width: 26px;
  transition: transform 0.3s;
  
  filter: invert(0%) sepia(1%) saturate(2046%) hue-rotate(24deg) brightness(55%) contrast(100%);

  &:hover {
    transform: rotate(90deg);
  }
}

.body-container {
  padding: 5px 25px 25px;
  position: relative;
  height: 90%;
  width: 100%;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;

  padding-left: 5px;
  color: var(--text-color-400);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color-500);
  max-width: 100%;
}

.date-information {
  font-size: 0.9rem;
  padding: 5px 5px 25px;
  color: var(--text-color-400);
}

.content-with-icon {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 7fr);
}

.content-icon {
  width: 22px;
  height: 22px;
  margin-top: 3px;
  opacity: 0.7;
  filter: var(--icon-filter);
}

.content-text {
  font-size: 0.9rem;
}

.events-popover-body {
  position: relative;

  .event__colored-line {
    width: 5px;
    bottom: 0;
  }
}

.align-center {
  align-items: center;

  .content-text {
    padding-top: 4px;
  }
}

.list {
  width: 95%;
}

.event-calendar-content {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 250px;
  min-height: 18px;
  padding-right: 5px;
  width: 100%;
  justify-content: space-between;

  h3 {
    overflow: hidden;
    color: var(--text-color-400);
  }
}

.event-calendar-content-list {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 250px;
  padding-right: 5px;
  padding: 3px;
  width: 100%;
  // justify-content: space-between;

  h3 {
    overflow: hidden;
    max-width: 80%;
    color: var(--text-color-400);
  }
}

.event__month-title {
  font-size: 0.8rem;
}

.user-emails {
  p {
    max-height: 150px;
    overflow-y: auto;
  }
}

.content-text{
  p{
    word-break: break-all;
 } 
}

.event_lock-icon{
  width: 18px;
  height: 18px;
}