@import '../../scss/vars.module';

$errorTextColor: rgb(249, 95, 95);

.text-field {
  width: 300px;
  transition: 0.5s opacity;

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiOutlinedInput-root {
    padding-right: 0;
  }

  .MuiOutlinedInput-root input {
    box-shadow: $innerBoxShadow;
    border: 1px solid #b0b0b03a;
    border-radius: 12px;
    height: 30px;

    padding: 8px 15px 6px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
  }
  .MuiOutlinedInput-root input[type='password'] {
    font: large Verdana, sans-serif;
    letter-spacing: 1px;
  }

  .MuiInputLabel-root {
    top: -4px;
    transition: 0.3s ease-in-out all;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    padding: 0 5px;
    color: #8b9eb0;
  }

  .MuiInputLabel-root[data-shrink='true'] {
    top: -15px;
    left: -5px;
    color: $primaryColor;
    font-size: 1.25rem;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0;
  }
  .MuiFormHelperText-root {
    padding-top: 5px;
    text-transform: capitalize;
  }
  .Mui-disabled {
    opacity: 0.4;
  }
  .MuiInputAdornment-root {
    position: absolute;
    right: 5px;
  }

  // when full size of the div
  &__full-width {
    width: 100%;
  }

  // when error
  &__error {
    .MuiOutlinedInput-root input {
      // border: 1px solid #ff9696;
      // box-shadow: inset 1px 1px 4px rgb(250, 130, 130), inset -2px -2px 7px #fec5c5;
      border: 1px solid #ff9696;
      box-shadow: inset 3px 3px 5px rgb(255, 143, 143), inset -3px -3px 7px #ffd7d7;
    }

    .MuiInputLabel-root[data-shrink='true'] {
      color: $errorTextColor;
    }

    .MuiFormHelperText-root {
      color: $errorTextColor;
    }
  }
  // when type=password
  &__password {
    .MuiOutlinedInput-root input {
      padding-right: 50px;
    }
  }

  // with icon
  &__icon {
    position: relative;
    display: flex;
    height: 100%;

    .MuiOutlinedInput-root input {
      border-radius: 0 12px 12px 0;
    }
    .MuiInputLabel-root[data-shrink='true'] {
      left: -45px;
    }

    &-wrapper {
      background-color: rgba(230, 230, 237, 0.5);
      width: 45px;
      height: 46px;
      border-radius: 12px 0 0 12px;

      display: flex;
      justify-content: center;
      align-items: center;

      .MuiSvgIcon-root {
        width: 20px;
        height: 20px;
        color: #44476a;
      }
    }
  }
}
