@import '../../styles/vars.module';

$errorTextColor: rgb(249, 95, 95);

.text-field {
  width: 300px;
  transition: 0.5s opacity;
  .MuiFormControl-root {
    width: 100%;
  }

  .MuiOutlinedInput-root {
    padding-right: 0;
  }

  .MuiOutlinedInput-root input {
    box-shadow: $innerBoxShadow;
    //border: 1px solid #b0b0b03a;
    border-radius: 12px;
    height: 27px;

    padding: 8px 15px 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
  }
  .MuiOutlinedInput-root input[type='password'] {
    font: large Verdana, sans-serif;
    letter-spacing: 1px;
  }

  .MuiInputLabel-root {
    top: -5px;
    transition: 0.3s ease-in-out all;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    padding: 0 5px;
    color: #8b9eb0;
  }

  .MuiInputLabel-root[data-shrink='true'] {
    top: -15px;
    left: -5px;
    color: $primaryColor;
    font-size: 1.25rem;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0;
  }
  .MuiFormHelperText-root {
    padding-top: 5px;
    text-transform: capitalize;
  }
  .Mui-disabled {
    opacity: 0.4;
  }
  .MuiInputAdornment-root {
    position: absolute;
    right: 5px;
  }

  // when full size of the div
  &__full-width {
    width: 100%;
  }

  // when error
  &__error {
    &.text-field__icon {
      .MuiOutlinedInput-root input {
        border: 1px solid #ff9696;
        box-shadow: inset -3px 6px 4px -4px rgb(255, 143, 143),
          inset -3px -3px 4px 0px #ffd7d7;
        border-left: 0;
      }

      .text-field__icon-wrapper {
        border: 1px solid #ff9696;
        box-shadow: inset 2px 2px 4px 0px rgb(255, 143, 143),
          inset -3px -7px 4px -4px #ffd7d7;
        border-right: 0;
      }
    }

    .MuiOutlinedInput-root input {
      border: 1px solid #ff9696;
      box-shadow: inset 2px 2px 4px rgb(255, 143, 143), inset -3px -3px 7px #ffd7d7;
    }

    .MuiInputLabel-root[data-shrink='true'] {
      color: $errorTextColor;
    }

    .MuiFormHelperText-root {
      color: $errorTextColor;
    }
  }
  // when type=password
  &__password {
    .MuiOutlinedInput-root input {
      padding-right: 50px;
    }
  }

  // with icon
  &__icon {
    position: relative;
    display: flex;
    height: 100%;

    .MuiOutlinedInput-root input {
      border-radius: 0 12px 12px 0;
    }
    .MuiInputLabel-root[data-shrink='true'] {
      left: -45px;
    }

    &-wrapper {
      background-color: rgba(230, 230, 237, 0.5);
      width: 45px;
      height: 45px;
      border-radius: 12px 0 0 12px;

      display: flex;
      justify-content: center;
      align-items: center;

      .MuiSvgIcon-root {
        width: 20px;
        height: 20px;
        color: #44476a;
      }
    }
  }
}
