@import 'styles/global.module';

.stepper {
  width: 100%;
  padding-top: 20px;
  margin: 2px;
  color: var(--accent-text-color) !important;

  .MuiStepConnector-horizontal {
    top: 25px;

    span {
      border-top-width: 2px;
    }
  }

  .MuiStepLabel-iconContainer {
    .MuiSvgIcon-root {
      width: 50px;
      height: 50px;
      padding: 10px;

    }

    .MuiStepIcon-text {
      font-size: 0.8rem;
      fill: var(--background);
    }

    .Mui-active,
    .Mui-completed {
      .MuiStepIcon-text {
        fill: var(--background);
      }
      color: var(--primary-color) !important;

      path {
        color: var(--primary-color);
      }

    }

  }

  .MuiStepConnector-root.Mui-completed {
    color: var(--primary-color);

    .MuiStepConnector-line {
      transition: all 0.5s;
      border-color: var(--primary-color);
    }
  }
}

.BookingForm_second-step-form__eDrqa{
  .MuiSvgIcon-root{
    path{
      color: var(--icon-color);
    }
  }
  .MuiCheckbox-root{
    path{
      color: transparent;
    }
  }
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active,
.css-1hv8oq8-MuiStepLabel-label.Mui-completed{
  color: var(--primary-color) !important;
}

.booking__label--description {
  &::before {
    content: attr(data-label);
    top: -15px;
  }

  .text-field .MuiInputLabel-root {
    top: 25px;
    transform: translateY(-50%);
  }
}

.MuiStepLabel-labelContainer {
  display: flex;
  justify-content: center;

  span {
    max-width: 250px;
    @extend %montserrat-medium-500;
    // color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 2px !important;
  }
}

.second-step-form__count-input {
  max-width: 65px;
  display: flex;
  align-items: center;

  .text-field {
    padding-bottom: 5px;

    input {
      font-size: 1.25rem;
    }
  }
}

.MuiClockPointer-thumb,
.MuiClockPointer-root {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.MuiClockPicker-root {
  background: var(--background);
  box-shadow: $outerBoxShadow;
}

.MuiClockNumber-root {
  font-family: 'Montserrat-Regular', sans-serif !important;

  &.Mui-selected {
    color: var(--background) !important;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list{
  color: var(--text-color);
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
 transition: all 0.3s;
  &:hover{
    color: var(--primary-color);
  }
}

.days-picker_days-picker__Rzvak .days-picker_day__8JodR{
  transition: opacity 0.5s;
  &:hover{
    opacity: 0.7;
  }
}
