@import "../../../styles/global.module";

.wrapper {
  box-shadow: $innerBoxShadow;
  border-radius: 15px;
  height: 100%;
  padding: 15px;
  max-width: 1000px;
  width: 100%;
}

.room_container {
  padding: 20px;
  display: grid;
  grid-gap: 40px;

  &__floor {
    box-shadow: $outerBoxShadow;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    outline: none;
  }

  &__rooms {
    display: flex;
    grid-gap: 15px;
    overflow: auto;
    padding: 10px 50px 10px 10px;
    border-radius: 10px;

    //&::before,
    //&::after{
    //  content: '';
    //  width: 1px;
    //  height: 100%;
    //  background-color: black;
    //}
  }
}

.floor {
  display: grid;
  grid-gap: 15px;
}

.my_swiper {
  width: 100%;
  padding: 5px;
  position: relative;
  border-radius: 10px;

  &::before{
    content: '';
    width: 1px;
    height: 90%;
    position: absolute;
    left: -5px;
    box-shadow: 10px 0 30px 10px #b0b0b0;
  }

  &__swiperslide {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    --webkit-transform: translateZ(0);
  }
  &::after{
    content: '';
    width: 1px;
    height: 90%;
    position: absolute;
    right: -5px;
    bottom: 0;
    box-shadow: -10px 0 30px 10px #b0b0b0;
  }
}

//.swiper_next,
//.swiper-prev{
//  top: 50%;
//  position: absolute;
//  transform: translateY(-50%);
//  width: 30px;
//  height: 30px;
//  z-index: 1;
//  cursor: pointer;
//  background-repeat: no-repeat;
//  background-size: contain;
//  background-position: center;
//}
//
//.swiper-prev{
//  left: 0;
//  background-image: url('../../../assets/images/icons/arrow-left.svg');
//}
//.swiper_next{
//  right: 0;
//  background-image: url('../../../assets/images/icons/arrow-right.svg');
//}

//.swiper-button-next,
//.swiper-button-prev{
//  color: aqua !important;
//}
