@import "../../../styles/global.module";

.wrapper {
  box-shadow: $innerBoxShadow;
  border-radius: 15px;
  height: 92vh;
  padding: 15px;
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}

.room_container {
  padding: 5px;
  display: grid;
  grid-gap: 20px;

  &__floor {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: start;
    grid-gap: 20px;
    padding-left: 10px;
  }

  &__span{
    box-shadow: $outerBoxShadow;
    border-radius: 10px;
    padding: 12px;
    outline: none;
  }

  &__filter{
    box-shadow: $outerBoxShadow;
    border-radius: 5px;
    padding: 5px;
  }

  &__rooms {
    display: flex;
    grid-gap: 15px;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }
}

.floor {
  display: grid;
  grid-gap: 15px;
  color: var(--accent-text-color);
}

.filter{
  display: flex;
  grid-gap: 15px;
  align-items: center;
}

.my_swiper {
  width: 100%;
  padding: 5px;
  position: relative;
  border-radius: 10px;

  //&::before{
  //  content: '';
  //  width: 1px;
  //  height: 90%;
  //  position: absolute;
  //  left: -5px;
  //  box-shadow: 5px 0 30px 10px var(--gray);
  //}
  //
  //&::after{
  //  content: '';
  //  width: 1px;
  //  height: 90%;
  //  position: absolute;
  //  right: -5px;
  //  bottom: 0;
  //  box-shadow: 10px 0 30px 10px var(--gray);
  //}

  &__swiperslide {
    padding: 10px 10px;
    border-radius: 10px;
    --webkit-transform: translateZ(0);
  }
}