@import 'styles/vars.module';

.badge-wrapper {
  .MuiChip-root {
    background-color: $background;
    color: #31344b;
    font-size: 1rem;

    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    border-radius: 12px;

  }
  .MuiChip-sizeSmall {
    box-shadow: 2px 2px 4px #b8b9be, -2px -2px 4px #fff;
  }

  .MuiChip-outlined {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  }
}
