@import "styles/global.module";

.button,
.active{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  max-height: 45px;
  padding: 15px 40px;
  border-radius: 15px;
  background: var(--background);
  color: var(--accent-text-color);
  box-shadow: 3px 3px 7px var(--gray), -1px -2px 5px var(--white);
  cursor: pointer;
  transition:  0.5s, text-shadow 0.5s, border 0.5s;
  position: relative;

  &:disabled{
    opacity: 0.7;
  }

  &:hover:enabled,
  &:focus:enabled,
  &:active:enabled {
    box-shadow: $innerBoxShadow;
    color: var(--primary-color);
    text-shadow: var(--primary-color) 1px 0 50px;
  }

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--light-blue);
    box-shadow: inset 0 0 6px var(--light-blue), 0 0 3px var(--light-blue);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  &:hover:enabled {

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 2px solid var(--primary-color);
      box-shadow: inset 0 0 6px var(--primary-color), 0 0 3px var(--primary-color);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
    }
  }
}

.active {
  box-shadow: $innerBoxShadow;
  color: var(--primary-color);
  text-shadow: var(--primary-color) 1px 0 50px;

  
  &::after:enabled {
    content: '';
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    box-shadow: inset 0 0 6px var(--primary-color), 0 0 3px var(--primary-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }
}

.contained-styles{
  background: rgba(153, 180, 209, 0.25);
  color: var(--accent-text-color);
  box-shadow: 3px 3px 7px var(--gray), -1px -2px 5px var(--white);
  
  &:hover:enabled,
  &:focus:enabled,
  &:active:enabled {
    box-shadow: inset 3px 3px 7px var(--gray),
    inset -3px -3px 7px var(--light-blue);
    color: rgba(237, 237, 237, 0.75);
    //text-shadow: var(--primary-color) 1px 0 50px;
  }
  
  &::after {
    content: '';
    height: 45px;
    width: 100%;
    border: 2px solid var(--light-blue);
    box-shadow: inset 0 0 6px var(--light-blue), 0 0 3px var(--light-blue);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  
}