@import "../../App.module";

.button{
  border: none;
  height: 45px;
  width: 120px;
  border-radius: 15px;
  background: $background;
  box-shadow: 3px 3px 7px #b0b0b0, -1px -2px 5px #ffffff;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active{
    border: none;
    box-shadow: $innerBoxShadow;
  }
}

.button_arrow {
  margin: 5px;
  border: none;
  height: 45px;
  width: 35px;
  border-radius: 10px;
  background: $background;
  box-shadow: 3px 3px 7px #b0b0b0, -1px -2px 5px #ffffff;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active{
    border: none;
    box-shadow: $innerBoxShadow;
  }
}
.fa-solid{
  color: dimgray;
  margin-left: 10px;
  font-size: large;
}
