@import 'styles/global.module';

$leftBarWidth: 55px;
$calendarHeaderHeight: 35px;
$roomWidth: 140px;
.grid-events__container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 5;
//   background-color: rgba(255, 0, 0, 0.174);
}

.event__container {
  position: absolute;

  background-color: rgb(63, 63, 201);
  width: $roomWidth;
}
