@import "styles/global.module";

.booked {
  &__item {
    box-shadow: $outerBoxShadow;
    padding: 10px 10px 10px 15px;
    border-radius: 5px 10px 10px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    position: relative;
    transition: 0.5s opacity;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-color: var(--primary-color);
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0 7px var(--primary-color);
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary-color);
      position: absolute;
      right: 10px;
      top: 10px;
      box-shadow: 0 0 5px var(--primary-color);
    }
  }

  &__item.red {
    position: relative;

    &::before,
    &::after {
      background-color: #e23d28f4;
      box-shadow: 0 0 7px #e23d28f4;
    }
  }


  &__item.glowing {
    position: relative;

    &::before,
    &::after {
      animation: glowing 1300ms infinite;
    }
  }

  &__all-information {
    font-size: 0;
    transition: height 0.3s, width 0.3s, font-size 0.3s, opacity 0.9s, margin-bottom 0.3s;
    opacity: 0;
    margin: 0;

    &::before {
      box-shadow: none;
    }

    img,
    ul{
      font-size: 0;
      height: 0;
      width: 0;
      transition: height 0.3s, width 0.3s, font-size 0.3s, opacity 0.1s;
      opacity: 0;
    }
  }


  .active,
  .active &__all-information {
    opacity: 1;
    font-size: 15px;
    height: 100%;
    width: 100%;
    margin: 0 0 5px 0;

    &:not(:last-child) {
      &::after {
        content: '.';
      }
    }
    

    img {
      width: 15px;
      height: 15px;
      font-size: 15px;
      opacity: 1;
    }

    ul {
      opacity: 1;
      font-size: 15px;
      height: 100%;
      width: 100%;
    }

    
  }

  &__list {
    max-height: 100px;
    height: 100%;
    overflow: auto;
    padding: 5px;
  }

  &__information-name,
  &__information-member {
    color: var(--accent-text-color);
    @extend %montserrat-medium-500;
    margin-right: 5px;
    padding: 0 0 0 10px;
    position: relative;

    &-text{
       
    }

    &::before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--primary-color);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 0 5px var(--primary-color);
    }
  }

  &__information-member {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::before {
      width: 5px;
      height: 5px;
      left: 10px;
    }
  }

  &__info {
    margin-bottom: 5px;
    display: flex;
    grid-gap: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--accent-text-color);
    
    .meetingName{
      word-break: break-all;
      @include threeDotsOnOverflow(2);
      padding-right: 20px;
      
    }

    div {
      @extend %montserrat-semi-bold-600;
    }
  }


  &__information-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__icons {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__staff {
    display: flex;
    grid-gap: 5px;
  }
}

@keyframes glowing {
  0% {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
  }
  50% {
    background-color: var(--light-blue);
    box-shadow: 0 0 15px var(--light-blue);
  }
  100% {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
  }
}

.active{
  .booked__info {
    .meetingName{
      display: block;
    } 
  }
}

.active .booked__all-information-name{
  &:not(:last-child) {
    &::after {
      content: '';
    }
  }
}
.active .booked__all-information-name__creator{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 95%;

}