@import "../../App.styles";

.booked {
  &__item {
    box-shadow: $outerBoxShadow;
    padding: 10px 10px 10px 15px;
    border-radius: 5px 10px 10px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    position: relative;

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-color: var(--primary-color);
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0 7px var(--primary-color);
    }

    &::after{
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary-color);
      position: absolute;
      right: 10px;
      top: 10px;
      box-shadow: 0 0 5px var(--primary-color);
    }
  }

  &__item.red {
    position: relative;

    &::before,
    &::after{
      background-color: #e23d28f4;
      box-shadow: 0 0 7px #e23d28f4;
    }
  }

  &__item.glowing {
    position: relative;

    &::before,
    &::after{
      animation: glowing 1300ms infinite;
    }
  }

  &__info {
    margin-bottom: 5px;
    display: flex;
    grid-gap: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--accent-text-color);

    div {
      @extend %montserrat-semi-bold-600;
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    //border-bottom: 1px solid var(--gray);
    //padding: 0 0 5px 0;
  }


  //&__staff {
  //  display: flex;
  //  align-items: center;
  //  grid-gap: 5px;
  //  border-bottom: 1px solid var(--gray);
  //  padding: 0 0 5px 0;
  //}

  &__wrap {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__icons {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
}

@keyframes glowing {
  0% {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
  }
  50% {
    background-color: var(--light-blue);
    box-shadow: 0 0 15px var(--light-blue);
  }
  100% {
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
  }
}