@import "../../App.styles";

.booked {

  &__item {
    box-shadow: $outerBoxShadow;
    padding: 10px 10px 10px 15px;
    border-radius: 5px 10px 10px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    position: relative;

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-color: $primaryColor;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0 7px $primaryColor;
    }
  }

  &__item.red {
    position: relative;

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-color: #e23d28f4;;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0 7px #e23d28f4;;
    }
  }

  &__info {
    margin-bottom: 5px;
    display: flex;
    grid-gap: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    div {
      @extend %montserrat-semi-bold-600;
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid $gray;
    padding: 0 0 5px 0;
  }


  &__staff {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    border-bottom: 1px solid $gray;
    padding: 0 0 5px 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__icons {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
}