@import './vars.module.scss';
@import './fonts.module.scss';

body {
  color: #565656;
  line-height: 1.2;
  font-family: sans-serif;
  background-color: $background;
  @extend %montserrat-medium-500;
}

button {
  color: #565656;
  @extend %montserrat-medium-500;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.loading {
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: $lightBlue;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

//:global(.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root) {
//  background-color: red !important;
//}
