@import './vars.module.scss';
@import './fonts.module.scss';

  * {
    @extend %montserrat-regular-400;
  }

body {
  color: #565656;
  line-height: 1.2;
  font-family: sans-serif;
  background-color: $background;
  @extend %montserrat-medium-500;
}

:root {
  --toastify-color-light: #dcdcdc;
}

button {
  color: #565656;
  @extend %montserrat-medium-500;
}

.container {
  max-width: 1345px;
  padding: 0 15px;
  margin: 0 auto;
}

.loading {
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: $lightBlue;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(176, 202, 233, 0.75);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(176, 202, 233, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(176, 202, 233, 0);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
