@mixin centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin threeDotsOnOverflow($countOfRows) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $countOfRows;
  -webkit-box-orient: vertical;
}