$default: #000000;
$background: #dcdcdc;
$containerBackground: #dcdcdc;
$gridBackground: #edededae;

$primaryColor: hsl(211, 49%, 55%);
$primaryColor400: hsl(211, 43%, 43%);

$white: #ffffff;

$lightGray: hsl(0, 0%, 93%);
$lightGray910: hsl(0, 0%, 91%);
$lightGray940: hsl(0, 0%, 94%);

// p = percent
$lightGray180p: hsla(0, 0%, 69%, 0.18);
$lightGray280p: hsla(0, 0%, 69%, 0.28);
$lightGray370p: hsla(0, 0%, 69%, 0.37);

$gray: #b0b0b0;

$CalendarBntColor: $primaryColor;

$lightBlue: hsla(211, 49%, 55%, 0.502);
$btnBackground: hsla(210, 14%, 56%, 0.255);
$activeBtnBackground: hsla(210, 30%, 60%, 0.682);
$nowIndicatorColor: hsla(211, 49%, 55%, 0.631);

$textColor: hsl(0, 0%, 93%);
$textColor700: hsl(0, 1%, 70%);
$textColor650: hsl(0, 0%, 65%);
$textColor300: hsl(0, 0%, 30%);


$cardHoverBackground: #d1d1d1;

$border500: 2px solid $gray;
$border400: 2px solid $lightGray370p;
$border300: 1.5px solid $lightGray280p;
$border200: 1px solid $lightGray180p;

$outerBoxShadow: 3px 3px 7px $gray, -3px -3px 7px #ffffff;
$innerBoxShadow: inset 3px 3px 7px $gray, inset -3px -3px 7px #ffffff;

//:root {
//  --background: #1d1d1d;
//  --text-primary: #ffffff;
//  --input: rgb(58, 58, 58);
//}
//
//[data-theme='light'] {
//  --background: #dedede;
//  --text-primary: #000000;
//  --input: rgb(199, 199, 199);
//}

%montserrat-regular-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%montserrat-medium-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-semi-bold-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}

%montserrat-bold-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
