$default: #000000;
$background: #dcdcdc;
$containerBackground: #dcdcdc;

$primaryColor: #568cc5;
$primaryColor600: #3e6b9b;

$white: #ffffff;

$lightGray: #ededed;
$lightGray100: #b0b0b02f;
$lightGray200: #b0b0b045;
$lightGray300: #b0b0b05d;
// $lightGray100: #b0b0b013;
// $lightGray200: #b0b0b026;
// $lightGray300: #b0b0b034;
$lightGray700: #edededae;
$lightGray800: #E8E8E8;
$lightGray900: #d2d2d28a;
$gray: #b0b0b0;

$CalendarBntColor: $primaryColor;

$lightBlue: #568cc580;
$lightBlue100: #8090a02d;
$lightBlue200: #8090a041;
$lightBlue300: #7a98b7ae;
$lightBlue500: #568cc5a1;
$lightBlue700: #558eca39;

$textColor: #ededed;
$textColor200: #a6a6a6;
$textColor300: #a6a6a6;
$textColor400: #b3b2b2;
$textColor500: #878787;
$textColor700: #565656;
//#656565

$cardHoverBackground: #d1d1d1;

$border500: 2px solid $gray;
$border400: 2px solid $lightGray300;
$border300: 1.5px solid $lightGray200;
$border200: 1px solid $lightGray100;

$outerBoxShadow: 3px 3px 7px $gray,
-3px -3px 7px #ffffff;
$innerBoxShadow: inset 3px 3px 7px $gray,
inset -3px -3px 7px #ffffff;

//:root {
//  --background: #1d1d1d;
//  --text-primary: #ffffff;
//  --input: rgb(58, 58, 58);
//}
//
//[data-theme='light'] {
//  --background: #dedede;
//  --text-primary: #000000;
//  --input: rgb(199, 199, 199);
//}

%montserrat-regular-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%montserrat-medium-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-semi-bold-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}

%montserrat-bold-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}