@import 'styles/global.module';

.custom-select {
  padding: 0 5px 5px;
  .MuiInputBase-root {
    .MuiOutlinedInput-input {
      border-radius: 10px;
      box-shadow: inset 1px 1px 3px var(--gray),inset -1px -1px 3px var(--white);
    }

    min-width: 100px;
    width: 110px;
    // height: 40px;

    .MuiOutlinedInput-notchedOutline {
      border: 0;
    }
    input {
      border: 0;
    }
  }
  .MuiSelect-select {
    padding: 11px 12px;
  }

  .css-1rndd9j-MuiPopper-root-MuiAutocomplete-popper > *,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  color: var(--text-color) !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  background-color: var(--background) !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  path{
    color: var(--text-color);
  }
}
}
