@import 'styles/global.module';

.booking-room {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  border-radius: 10px;

  box-shadow: 2px 2px 5px var(--gray), -2px -2px 5px var(--white);

  cursor: pointer;

  &:hover {
    opacity: 0.85;
    transition: 0.4s ease-in-out;
    position: relative;

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 2px solid var(--light-blue);
      box-shadow: inset 0 0 4px var(--light-blue), 0 0 4px var(--light-blue);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
    
    }
  }

  &__image-section {
    position: relative;
    img {
      border-radius: 10px 0 0 10px;
      opacity: 0.9;
      min-height: 100px;
      height: 100%;
      width: 100%;
    }
    &::after {
      content: '';
      height: 100%;
      width: 2px;
      background-color: var(--primary-color);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: 0 0 4px var(--primary-color);
      z-index: 10;
    }
  }
  &__content {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container__equipment {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 5px;
    }
  }
  &__name {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 5px 0;
  }
}

.room-capacity-number {
  font-size: 0.9rem;
  font-weight: 600;
}
.floor-number {
  @include centerDiv;
  font-size: 0.8rem;
  font-weight: 600;

  padding: 2px;

  background-color: var(--background);
  box-shadow: inset 1px 1px 3px var(--gray), inset -1px -1px 3px var(--white);
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  // color: var(--background);
}

.disabled-booking-room {
  opacity: 0.6;
}
.active-booking-room {
  position: relative;
  opacity: 0.9;

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--light-blue);
    box-shadow: inset 0 0 4px var(--light-blue), 0 0 4px var(--light-blue);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
  }
}
