@import 'styles/global.module';

.multi-select {
  position: relative;
  width: 100%;

  .badges-container {
    height: 60px;
    overflow: auto;
    //display: flex;
    //flex-wrap: wrap-reverse;

    &::-webkit-scrollbar {
      width: 5px; /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
      background: $background; /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray; /* цвет бегунка */
      border-radius: 10px; /* округлось бегунка */
    }

    .MuiChip-root {
      box-shadow: inset 0 1px 2px #b0b0b0, inset -1px -1px 3px #ffffff;
      border: none;
      //border: 0.5px solid #b8b9be95;
      border-radius: 5px;
    }
  }

  //
  //.MuiOutlinedInput-root .MuiAutocomplete-input {
  //  box-shadow: inset 1px 1px 3px #b0b0b0, inset -1px -1px 3px #ffffff;
  //  border-radius: 15px;
  //  max-height: 25px;
  //}

  .MuiAutocomplete-root {
    .MuiFormControl-root {
      height: 100%;
    }

    .MuiInputBase-root {
      padding: 4px 15px 4px;
      box-shadow: inset 1px 1px 3px #b0b0b0, inset -1px -1px 3px #ffffff;
      border: 0;
      border-radius: 12px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.1rem;
    }

    .MuiOutlinedInput-notchedOutline {
      border-width: 0;
    }

    .MuiOutlinedInput-root {
      display: flex;
      flex-direction: column;
      grid-gap: 5px;

      .MuiAutocomplete-input {
        width: 90%;
      }
    }
  }
}

.MuiAutocomplete-popper {
  .MuiAutocomplete-listbox,
  .MuiAutocomplete-noOptions {
    overflow-x: hidden;
    background: $lightGray;
    box-shadow: $outerBoxShadow;
    font-size: 0.9rem;
    max-height: 200px;
  }
}

.MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
  right: 15px !important;
}
