@import 'styles/global.module';

$errorTextColor: #d32f2f;

.multi-select,.single-select-dropdown {
  position: relative;
  width: 100%;

  .badges-container {
    min-height: 30px;
    // height: 30px;
    overflow-y: scroll;
    max-height: 85px;

    //display: flex;
    //flex-wrap: wrap-reverse;

    .MuiChip-root {
      // box-shadow: inset 0 1px 2px var(--gray), inset -1px -1px 3px var(--white);
      //border: none;
      box-shadow: inset 0px 0px 6px var(--gray), inset 0px 0px 13px var(--white);
      border: 0.5px solid var(--gray);
      border-radius: 5px;
    }
  }

  .MuiAutocomplete-root {

    .MuiFormControl-root {
      height: 100%;
    }

    .MuiInputBase-root {
      padding: 4px 15px 4px;
      box-shadow: inset 1px 1px 3px var(--gray), inset -1px -1px 3px var(--white);
      border: 0;
      border-radius: 12px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.1rem;
      padding-left: 10px;
    }
    
    .MuiInputLabel-root {
      letter-spacing: 1.2px;
      text-transform: capitalize;
      padding: 0 5px;
      font-size: 14px;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: var(--text-color);
      transition: color 0.3s, opacity 0.3s;
      @extend %montserrat-medium-500;
    }
  
    .MuiInputLabel-root[data-shrink='true'] {
      opacity: 0;
      color: var(--primary-color);
      font-size: 14px;
    }
  
    .MuiOutlinedInput-notchedOutline {
      border: 0;
    }

    .MuiOutlinedInput-notchedOutline {
      border-width: 0;
    }

    .MuiOutlinedInput-root {
      display: flex;
      grid-gap: 5px;

      .MuiAutocomplete-input {
        width: 90%;
      }
    }
  }
}
.multi-select, .single-select-dropdown{

  .MuiAutocomplete-popper {
    box-shadow: $outerBoxShadow !important;
    
    .MuiAutocomplete-listbox,
    .MuiAutocomplete-noOptions {
      overflow-x: hidden;
      background: var(--background);
      box-shadow: $outerBoxShadow;
      font-size: 0.9rem;
      max-height: 200px;
      
      color: var(--accent-text-color)
    }
  }
  
}

.multi-select-large {
  .badges-container {
    max-height: 120px;
  }
}

.multi-select__error,.single-select-dropdown__error {
  .MuiInputBase-root,
  .MuiFormControl-root {
    border-radius: 12px;
    border: 0.5px solid #e23d28f4;
    box-shadow: inset 0px 0px 3px #e23d28f4, inset 0px 0px 3px #e23d28f4;
    border-left: 0;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0;
  }

  .MuiFormHelperText-root {
    color: #e23d28f4;
    font-size: 12px;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.15);
    animation: 0.3s slidein;
    transition: 0.5s translateX;
    position: absolute;
    left: 12px;
    // bottom: 0;
    top: -25px;
  }

  .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 15px !important;
  }
}

.MuiChip-label {
  color: var(--accent-text-color);
}
.single-select-dropdown__error .text-field__errorText{
  top: 55px;
}

.single-select-dropdown{
  padding-bottom: 10px;
  .MuiInputBase-input{
    box-shadow: none !important;
    padding: 5px 4px 5px 6px !important;
  }
  .text-field{
    padding-bottom: 0;
  }
}