@import 'styles/global.module';

$roomWidth: 140px;
$lineColor: $nowIndicatorColor;

.full-calendar {
  width: 100%;
  height: 90%;

  padding: 10px;
  position: relative;
}

.fc {
  border-radius: 5px;

  thead[role='rowgroup'] {
    border-radius: 5px;
    border: $border500;
  }

  &-col-header {
    border-radius: 5px 5px 0 0;
    border-bottom: $border500;

    &-cell {
      min-width: $roomWidth;
      max-width: $roomWidth;

      border: 0 !important;

      &:last-child {
        .fc-scrollgrid-sync-inner {
          border-right: 0;
        }
      }

      .fc-scrollgrid-sync-inner {
        height: 15px;
        margin: 10px 0;
        @include centerDiv;
        border-right: $border500;
        color: var(--text-color-400);
        a {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
}

.fc-scrollgrid {
  background: var(--light-gray-910);
  border: $border500 !important;
  border-radius: 5px;
}

.fc-daygrid-day-top,
.fc-popover-title,
.fc-timegrid-axis-frame,
.fc-daygrid-day-bottom {
  color: var(--text-color-500);
}

.fc-today-button {
  text-transform: capitalize;
  border: 0 !important ;
  // color: $primaryColor400 !important;
  color: var(--accent-text-color) !important;
  background: var(--background) !important;
  box-shadow: 3px 3px 7px var(--gray), -1px -2px 5px var(--white);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat-Regular', sans-serif !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  font-size: 0.875rem !important;

  &:hover,
  &:focus,
  &:active {
    color: var(--primary-color) !important;
    background: var(--background) !important;
    border-color: var(--background) !important;
    text-shadow: var(--primary-color) 1px 0 50px;
  }

  &:disabled {
    color: white !important;
    background: $primaryColor !important;
    opacity: 0.85 !important;
  }
}
.fc-button-group {
  height: 40px;
  background: var(--background);
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;

  margin-right: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 7px var(--gray), -1px -2px 5px var(--white);
  .fc-today-button,
  .fc-timeGridWeek-button,
  .fc-dayGridMonth-button,
  .fc-listWeek-button,
  .fc-day-button {
    text-transform: capitalize;
    border: none;
    background: var(--background);

    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat-Regular', sans-serif;

    font-size: 0.875rem;

    color: var(--accent-text-color);

    cursor: pointer;
    transition: 0.5s, text-shadow 0.5s, border 0.5s;
    position: relative;

    &:disabled {
      opacity: 0.7;
    }

    &:hover:enabled,
    &:focus:enabled,
    &:active:enabled {
      // box-shadow: $innerBoxShadow;
      color: var(--primary-color);
      background: var(--background);
      border-color: var(--background);
      text-shadow: var(--primary-color) 1px 0 50px;
    }
  }

  .fc-button-active {
    color: var(--text-color-930) !important;
    background-color: $primaryColor !important;
    cursor: default;
    margin: 5px !important;
    border-radius: 5px !important;

    &:hover,
    &:focus,
    &:active {
      color: var(--text-color-930) !important;
      background-color: $primaryColor !important;

      pointer-events: none;
      cursor: default;
      border: none;
    }
  }
}
.fc-addBooking-button {
  text-transform: capitalize;
  border: none !important;
  color: $primaryColor400 !important;
  background: var(--background) !important;
  box-shadow: 3px 3px 7px var(--gray), -1px -2px 5px var(--white);

  padding: 8px 14px !important;
  border-radius: 5px;
  font-weight: 700 !important;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat-Regular', sans-serif !important;
  font-size: 0.875rem !important;
  &:hover,
  &:focus,
  &:active {
    color: var(--primary-color) !important;
    background: var(--background) !important;
    border-color: var(--background) !important;
    text-shadow: var(--primary-color) 1px 0 50px;
  }
  position: relative;
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--light-blue);
    box-shadow: inset 0 0 2px var(--light-blue), 0 0 1px var(--light-blue);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  &:hover:enabled {
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--primary-color);
      box-shadow: inset 0 0 2px var(--primary-color), 0 0 1px var(--primary-color);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
    }
  }
}

.fc-toolbar-chunk {
  div {
    display: flex;
    align-items: center;
  }
}
.fc-toolbar-title {
  font-weight: 600;
  font-size: 1.15rem !important;
  letter-spacing: 1px;
  text-align: center;
  color: var(--text-color-300);
}
.fc-prev-button,
.fc-next-button {
  background: transparent !important;
  border: 0 !important;
  font-size: 1.2rem !important;
}
.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:focus {
  box-shadow: none !important;
}

.fc-prev-button {
  padding-right: 65px !important;
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 !important;
  }
}
.fc-next-button {
  padding-left: 65px !important;
}
.fc-icon {
  color: var(--text-color-300);
}
.fc-timegrid-slots {
}
.fc-timegrid-slot-label-frame {
  display: flex;
  justify-content: center;
  width: 100%;
}
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion li {
  width: 64px !important;
  border-right: 0 !important;
  border-left: 2px solid var(--gray) !important;
}
.fc-timegrid-slot-label-cushion {
  padding: 0 !important;
  width: 62px;
  left: -2px !important;
  right: 12px !important;
}
.fc-timegrid-body,
.fc-daygrid-body,
.fc-listweek-body {
  background: var(--background) !important;
  // border-right: 2px solid var(--gray);
}

.fc-timegrid-slot-lane {
  // background: var(--background) !important;

  &:first-of-type {
    // padding: 11px 0 0 0 !important;
  }
}
.fc-scrollgrid-section-body {
  padding: 11px 0 0 0 !important;
}
.fc-scrollgrid-section-header {
  background: var(--background) !important;
}
.fc-timegrid-slot-label {
  position: relative;
  height: 96px;
  min-width: 60px;
  width: 60px;
  border-right: $border500 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.fc-theme-standard td {
  border: $border300;
}
.fc-timegrid-axis {
  border-right: $border500 !important;
  background: var(--background);
}
.fc-timegrid-slot-label-frame {
  height: 96px;
}

.fc-timegrid-slot-label-cushion {
  position: absolute;
  z-index: 10;
  top: -12px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 96px;
  background: var(--light-gray-940) !important;
}
.fc-timegrid-axis-frame {
  background: var(--light-gray-940) !important;
}

.fc-timegrid-now-indicator-arrow {
  color: $lineColor;
  border-color: $lineColor !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.fc-timegrid-now-indicator-line {
  height: 3px;
  background: $lineColor;
  color: $lineColor;
  border-width: 0 !important;
  border-color: $lineColor !important;
}

.fc-timegrid-event {
  border-radius: 5px;
  border: 0 !important;
  box-shadow: none !important;

  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: -10;
    border-radius: 5px;
    // box-shadow: $outerBoxShadow;
  }
  .event__colored-line {
    width: 2px;
  }

  &:hover {
    background: var(--light-gray) !important;

    transition: 0.5s ease-in-out all;
  }
}

.fc-day-today {
  background: var(--light-gray-370p) !important;
  border: none !important;
}

.fc-timegrid-event-harness,
.fc-daygrid-event-harness {
  cursor: pointer;
}
.fc-timegrid-event.fc-timegrid-dot-event,
.fc-daygrid-event.fc-daygrid-dot-event {
  background: transparent !important;
  &:hover {
    background: transparent !important;
    transition: 0.5s ease-in-out all;
  }
}
.fc-popover-body {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.fc-popover {
  z-index: 90 !important;
  background: var(--background) !important;
  box-shadow: 2px 2px 6px var(--gray), -1px -1px 6px var(--white) !important;

  border: 1px solid var(--text-color-930) !important;

  border-radius: 8px !important;
}

.fc-v-event,
.fc-daygrid-event {
  background: var(--background);

  &:hover {
    background: var(--card-hover-background) !important;
    transition: 0.5s ease-in-out all;
  }
}
.fc-event-selected:after,
.fc-event:focus:after {
  background: transparent;
}

.fc-timegrid,
.fc-daygrid,
.fc-list {
  box-shadow: $outerBoxShadow;
  border-radius: 10px;
}

.delete-popover__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;

  .contained-styles::after {
    height: 30px;
  }
  .contained-styles:hover:enabled {
    color: var(--primary-color);
  }
  button {
    height: 30px;
    padding: 15px 30px;
  }
}

tr.fc-list-event {
  &:hover td {
    background: var(--background) !important;
    opacity: 0.8;
  }
}
.fc-list-event-graphic {
  .fc-list-event-dot {
    border: 5px solid var(--primary-color) !important;
  }
}
.fc-list-day-cushion {
  background: var(--background) !important;
  box-shadow: $outerBoxShadow !important;
}

.fc-theme-standard .fc-list {
  border: 0 !important;
}
.fc-dayGridMonth-view {
  .fc-scrollgrid-section {
    // overflow-y: scroll;
  }
}

.fc-list-day-side-text,
.fc-list-day-text{
  color: var(--text-color-500);

}


.fc-list-event-time {
  color: var(--text-color);
}
.fc-list-day th{
  z-index: 10;
}