@import 'styles/global.module';

$roomWidth: 140px;
$lineColor: $lightBlue500;

.full-calendar {
  width: 100%;
  height: 90%;

  padding: 10px;
}

.fc {
  border-radius: 5px;

  thead[role='rowgroup'] {
    border-radius: 5px;
    border: $border500;
  }

  &-col-header {
    border-radius: 5px 5px 0 0;
    border-bottom: $border500;

    &-cell {
      min-width: $roomWidth;
      max-width: $roomWidth;

      border: 0 !important;

      &:last-child {
        .fc-scrollgrid-sync-inner {
          border-right: 0;
        }
      }

      .fc-scrollgrid-sync-inner {
        height: 15px;
        margin: 10px 0;
        @include centerDiv;
        border-right: $border500;

        a {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
}

.fc-scrollgrid {
  background: $lightGray800;
  border: $border500 !important;
  border-radius: 5px;
}

.fc-today-button {
  text-transform: capitalize;
  border: 0 !important ;
  color: $primaryColor600 !important;
  background: $lightBlue200 !important;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  font-size: 0.875rem;

  &:hover,
  &:focus,
  &:active {
    background-color: $lightBlue300 !important;
    color: $primaryColor600 !important;
  }
}
.fc-button-group {
  height: 40px;
  background: $lightBlue200;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;

  border-radius: 5px;

  .fc-today-button,
  .fc-timeGridWeek-button,
  .fc-dayGridMonth-button,
  .fc-day-button {
    text-transform: capitalize;
    border: none;
    color: $primaryColor600;
    background: transparent;

    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.875rem;
    &:hover,
    &:focus,
    &:active {
      background-color: $lightBlue300 !important;
      color: $primaryColor600 !important;
    }
  }

  .fc-button-active {
    color: $textColor !important;
    background-color: $primaryColor !important;
    cursor: default;
    margin: 5px !important;
    border-radius: 5px !important;

    // TODO change animation to be more smooth
    transition: 0.5s ease-in;

    &:hover,
    &:focus,
    &:active {
      background-color: $lightBlue300;
      color: $textColor !important;
      background-color: $primaryColor !important;

      pointer-events: none;
      cursor: default;
      border: none;
    }
  }
}

.fc-toolbar-chunk {
  div {
    display: flex;
    align-items: center;
  }
}
.fc-toolbar-title {
  font-weight: 600;
  font-size: 1.15rem !important;
  letter-spacing: 1px;
  text-align: center;
}
.fc-prev-button,
.fc-next-button {
  background: transparent !important;
  border: 0 !important;
  font-size: 1.2rem !important;
}
.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:focus {
  box-shadow: none !important;
}

.fc-prev-button {
  padding-right: 65px !important;
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 !important;
  }
}
.fc-next-button {
  padding-left: 65px !important;
}
.fc-icon {
  color: $textColor700;
}

.fc-timegrid-slot-label-frame {
  display: flex;
  justify-content: center;
  width: 100%;
}
.fc-timegrid-slot {
  width: 100%;
}
.fc-timegrid-slot-label-cushion {
  width: 100%;
}

.fc-timegrid-slot-lane {
  &:first-of-type {
    // padding: 11px 0 0 0 !important;
  }
}
.fc-scrollgrid-section-body {
  padding: 11px 0 0 0 !important;
}

.fc-timegrid-slot-label {
  position: relative;
  height: 96px;
  border-right: $border500 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.fc-theme-standard td {
  border: $border300;
}
.fc-timegrid-axis {
  border-right: $border500 !important;
}
.fc-timegrid-slot-label-frame {
  height: 96px;
}

// TODO change z-index of 0 time
.fc-timegrid-slot-label-cushion {
  position: absolute;
  z-index: 10;
  top: -12px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 96px;
}
.fc-timegrid-now-indicator-arrow {
  color: $lineColor;
  border-color: $lineColor !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.fc-timegrid-now-indicator-line {
  height: 3px;
  background: $lineColor;
  color: $lineColor;
  border-width: 0 !important;
  border-color: $lineColor !important;
}

.fc-timegrid-event {
  border-radius: 5px;
  border: 0 !important;
  box-shadow: none !important;

  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: -10;
    border-radius: 5px;
    // box-shadow: $outerBoxShadow;
  }
  .event__colored-line {
    width: 2px;
  }

  &:hover {
    background: $lightGray !important;

    transition: 0.5s ease-in-out all;
  }
}

.fc-day-today {
  background: $lightGray300 !important;
  border: none !important;
}

.fc-timegrid-event-harness,
.fc-daygrid-event-harness {
  cursor: pointer;
}
.fc-timegrid-event.fc-timegrid-dot-event,
.fc-daygrid-event.fc-daygrid-dot-event {
    background: transparent !important;
    // background: $lightGray900;
  &:hover {
    background: transparent !important;
    transition: 0.5s ease-in-out all;
  }
}
.fc-popover-body {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.fc-popover {
  z-index: 90 !important;
  background: $lightGray !important;
}

.fc-v-event,
.fc-daygrid-event {
  background: $background;

  &:hover{
    background: $cardHoverBackground !important;
    transition: 0.5s ease-in-out all;
  }
}
.fc-event-selected:after, .fc-event:focus:after{
  background: transparent;
}
