@import "../../App.module";

.calendar {

  //:global(.css-169iwlq-MuiCalendarPicker-root) {
  //  color: red !important;
  //  background-color: red !important;
  //}
}

:global(.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root) {
  box-shadow: $outerBoxShadow;
  border: none;
  border-radius: 10px !important;
  transition: 0.5s opacity;
  padding: 0 !important;

  &:hover {
    opacity: 0.8;
  }
}

:global(.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input) {
  transition: 0.5s color;

  :global(.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root) &:hover,
  &:focus,
  &:active {
    color: $primaryColor !important;
  }
}


:global(.css-1d3z3hw-MuiOutlinedInput-notchedOutline),
:global(.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root) {
  display: none !important;
}

:global(.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon),
:global(.css-118r9cm-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon),
:global(.css-i4bv87-MuiSvgIcon-root), {
  background-color: $CalendarBntColor;
  border-radius: 8px;
  color: $white;
  transition: 0.5s opacity;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }

}

:global(.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root) {
  margin: 0 10px 0 0 !important;
  transition: opacity 0.5s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: $innerBoxShadow;

    svg {
      fill: $primaryColor;
    }
  }

  svg {
    fill: $CalendarBntColor;
    background-color: $background;
    z-index: -1;
  }
}

:global(.css-169iwlq-MuiCalendarPicker-root),
:global(.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper) {
  background-color: #f0f0f3;
  border-radius: 25px !important;
  //box-shadow: $outerBoxShadow;
}

:global(.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton) {
  padding: 0 !important;
}

:global(.css-10fao8b-MuiPickersCalendarHeader-labelContainer) {
  background-color: $white;
  padding: 5px;
  border-radius: 10px;
}

:global(.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel) {
  color: #a0a5b9;
  font-weight: 700 !important;
  font-size: 14px !important;
}

:global(.css-6t5f1e-MuiDayPicker-monthContainer),
:global(.css-sf5t6v-PrivatePickersSlideTransition-root-MuiDayPicker-slideTransition) {
  background-color: #f6f6f7 !important;
  border-radius: 25px !important;
  padding: 10px 0 0 0;
}

:global(.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root) {
  background-color: #f6f6f7 !important;
  font-size: 16px !important;
  color: $CalendarBntColor !important;
  border-radius: 8px !important;
  transition: color 0.5s, background-color 0.5s;

  &:hover {
    background-color: $CalendarBntColor !important;
    color: $white !important;
  }
}

:global(.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected)),
:global(.css-3eghsz-PrivatePickersYear-button.Mui-selected),
:global(.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected) {
  background-color: $CalendarBntColor !important;
  color: $white !important;
  font-size: 16px !important;
  border-radius: 8px;
  border: transparent !important;
  transition: opacity 0.5s;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }
}
