@import "../../App.module.scss";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s
}

.modal.animated {
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;

    .modal {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }
}

.modal__content {
  background-color: $background;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  box-shadow: 3px 3px 7px #545454,
  -3px -3px 7px #afaeae;
  border-radius: 25px;
  color: #565656;
}

.children_content {
  max-width: 60vw;
  padding: 25px;
}

.bi {
  color: $primaryColor;
  height: 25px;
  width: 25px;
}

.button {
  border: none;
  height: 45px;
  width: 120px;
  border-radius: 15px;
  background: $background;
  box-shadow: 3px 3px 7px #b0b0b0, -1px -2px 5px #ffffff;
  cursor: pointer;
  transition: color 0.5s, text-shadow 0.5s;

  &:hover,
  &:focus,
  &:active {
    box-shadow: $innerBoxShadow;
    color: $primaryColor;
    text-shadow: $primaryColor 1px 0 50px;
  }
}