@import '../../App.module';
@import '../../styles/mixins.module';

.forgot-password {
  //min-height: 100vh;
  padding: 75px;
  @include centerDiv;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    padding: 70px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: $outerBoxShadow;
    width: clamp(400px, 400px, 600px);
    position: relative;
  }

  &__icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    box-shadow: $outerBoxShadow;
    background-color: rgba(190, 212, 240, 0.5);
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);

    &::after {
      content: '';
      animation: pulse 2s infinite;
      border-radius: 50%;
      background-color: rgba(176, 202, 233, 0.75);
      width: 75%;
      height: 75%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__icon-inner {
    width: 60px;
    height: 60px;
    @include centerDiv;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(176, 202, 233, 0.75);
    z-index: 10;
  }

  h2{
    @extend %montserrat-semi-bold-600;
  }

  // &__header {
  // }
  &__description {
    width: 90%;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
    position: relative;
    padding: 30px 0 10px;

    &-input {
      margin-bottom: 3px;
    }
  }

  &__go-back {
    display: flex;
    justify-content: center;

    &-link {
      @include centerDiv;
      gap: 5px;
      font-size: 0.95rem;
      transition: opacity 0.5s;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.5;
      }
    }

    img {
      width: 15px;
      height: 15px;
    }
  }

  &__error-message--first,
  &__error-message--second,
  &__error-message {
    color: #e23d28f4;
    position: absolute;
    font-size: 12px;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.15);
    animation: 0.3s slidein;
    transition: 0.5s translateX;
    top: 80px;
    left: 10px;
  }

  &__error-message--first {
    top: 80px;
  }

  &__error-message--second {
    top: 155px;
  }
}
