@import "styles/global.module";

.forgot-password {
  &__form {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    position: relative;
    padding: 20px 0 10px;

    &-input {
      margin-bottom: 3px;
    }
  }

  &__go-back {
    display: flex;
    justify-content: center;

    &-link {
      @include centerDiv;
      gap: 5px;
      font-size: 0.95rem;
      transition: opacity 0.5s;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.5;
      }
    }

    img {
      width: 15px;
      height: 15px;
    }
  }

}
