@import "../../App.module";

.calendar {

  button {
    box-shadow: 3px 3px 7px #b0b0b0, -2px -1px 7px #ffffff;;
    background-color: $background;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: #656565;
    transition: 0.5s color;

    &:hover,
    &:focus,
    &:active {
      box-shadow: $innerBoxShadow;
      color: $primaryColor;
    }
  }

  abbr {
    text-decoration: none;
  }

  :global(.react-calendar) {
    box-shadow: $outerBoxShadow;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 25px;
    max-width: 300px;
    width: 100%;
  }

  :global(.react-calendar__navigation) {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    height: 25px;
  }

  :global(.react-calendar__navigation__label) {
    padding: 5px;
    width: 140px;
  }

  :global(.react-calendar__navigation__arrow) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    padding: 8px;
    height: 25px;
    width: 25px;
    font-size: 0;
  }

  :global(.react-calendar__navigation__next-button),
  :global(.react-calendar__navigation__next2-button),
  :global(.react-calendar__navigation__prev-button),
  :global(.react-calendar__navigation__prev2-button) {
    position: relative;

    &::after {
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  :global(.react-calendar__navigation__next-button) {
    &::after {
      background-image: url('../../assets/images/icons/arrow-right.svg');
      width: 11px;
      height: 15px;
    }
  }

  :global(.react-calendar__navigation__next2-button) {
    &::after {
      background-image: url('../../assets/images/icons/double-arrows-right.svg');
      width: 15px;
      height: 15px;
    }
  }

  :global(.react-calendar__navigation__prev-button) {
    &::after {
      background-image: url('../../assets/images/icons/arrow-left.svg');
      width: 11px;
      height: 15px;
    }
  }

  :global(.react-calendar__navigation__prev2-button) {
    &::after {
      background-image: url('../../assets/images/icons/double-arrows-left.svg');
      width: 15px;
      height: 15px;
    }
  }

  :global(.react-calendar__viewContainer) {
    width: 100%;
  }

  :global(.react-calendar__month-view__weekdays) {
    margin: 0 0 15px 0;
  }

  :global(.react-calendar__month-view__weekdays__weekday) {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #656565;
    display: flex;
    justify-content: center;
  }

  :global(.react-calendar__month-view__days) {
    display: grid !important;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 30px);
  }

  :global(.react-calendar__month-view__days__day--neighboringMonth) {
    opacity: 0.4;
  }

  :global(.react-calendar__tile) {
    padding: 5px;
    font-size: 14px;
  }

  :global(.react-calendar__year-view__months),
  :global(.react-calendar__decade-view__years),
  :global(.react-calendar__century-view__decades) {
    grid-gap: 10px;
    justify-content: center;
  }


  :global(.react-calendar__tile--range) {
    box-shadow: $innerBoxShadow;
    color: $primaryColor;
    position: relative;

    &::after {
      content: '';
      width: 30px;
      height: 26px;
      border-radius: 5px;
      border: 2px solid $primaryColor;
      background-color: transparent;
      box-shadow: inset 0 0 3px $primaryColor, 0 0 3px $primaryColor;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


