@import '../../../App.module.scss';

//.dashboard {
//  display: grid;
//
//  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
//
//  min-height: 100vh;
//}

.dashboard{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}

.dashboard-page{
  //background-color: $gray;
  width: 70vw;
}

.sidebar{
  justify-content: flex-end;
  width: 25vw;
  height: 98vh;
  border-radius: 25px;
  //border-radius: 25px 0 0 25px;
  //background-color: antiquewhite;
  box-shadow: $innerBoxShadow;
  margin-right: 15px;
  padding: 10px;
}