@import '../../scss/vars.module';

.custom-checkbox__wrapper {

  &:hover {
    background-color: transparent !important;
  }

  .MuiCheckbox-root {
    color: transparent;
    position: relative;
    z-index: 0;
    padding: 0;
    border: none;
    height: 18px;
    width: 18px;

    &.Mui-checked {
      color: transparent;

      .MuiSvgIcon-root {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $primaryColor;
        animation: zooming 0.5s forwards 1;
        box-shadow: 0 0 10px $primaryColor;
      }

      &:after {
        background-color: #e6e7ee;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      height: 18px;
      width: 18px;
      border-radius: 5px;
      border: none;
      background-color: $background !important;
      box-shadow: inset 1px 2px 3px #b8b9be, inset -1px -1px 4px #ffffff;
    }

    &.Mui-disabled {
      opacity: 0.4;
      color: transparent;
    }
  }
}

.circled {

  .MuiCheckbox-root {

    &:after {
      border-radius: 50%;
      border: none;
      background-color: $background !important;
      box-shadow: inset 1px 2px 3px #b8b9be, inset -1px -1px 4px #ffffff;
    }
  }
}

@keyframes zooming {
  from {
    opacity: 0;
    transform: scale(1.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
