@import "../../styles/global.module";

.sidebar {
  max-width: 350px;
  width: 100%;
  height: 100vh;
  min-height: 760px;
  border-radius: 25px;
  box-shadow: $outerBoxShadow;
  padding: 15px;
  position: sticky;
  top: 0;
  transition: width 0.7s;
  background: $background;
}

.sidebar.hide {
  width: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  grid-gap: 15px;
}

.burger {
  background: $background;
  border-radius: 15px 15px 0 0;
  box-shadow: 2px -2px 4px #ffffff, 0px -3px 6px #b0b0b0;
  padding: 5px 35px;
  z-index: 10;
  transform: rotate(-90deg);
  position: absolute;
  @extend %montserrat-regular-400;
  top: 75px;
  left: -90px;
  transition: 0.5s color;


  &:hover,
  &:focus,
  &:active {
    color: $primaryColor;
  }
}

.info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  box-shadow: $outerBoxShadow;
  padding: 10px;
  border-radius: 15px;
  transition: opacity 0.5s;

  &__userName {
    transition: color 0.5s;
    @extend %montserrat-semi-bold-600;
    color: $gray;

    &:hover {
      color: $primaryColor;
    }
  }

  &__settings,
  &__userImg {
    padding: 10px;
    border-radius: 50%;

    &:hover {
      box-shadow: inset 0 1px 6px #b0b0b0, inset -3px 1px 4px #ffffff;
    }
  }
}

.info.hide,
.input.hide,
.booked.hide,
.clock.hide {
  opacity: 0;
  font-size: 0;
  overflow: hidden;
}

button {
  border: none;
  background: transparent;
  outline: transparent;
  cursor: pointer;
}

//.input {
//  position: relative;
//  width: 100%;
//  transition: 0.5s opacity;
//  display: flex;
//  flex-direction: column;
//  grid-gap: 20px;
//  padding: 0;

//&::after,
//&::before {
//  content: '';
//  width: 100%;
//  height: 10px;
//  background-color: $background;
//  position: absolute;
//  border-radius: 15px;
//  box-shadow: 1px 3px 4px #b0b0b0, -2px -1px 3px #ffffff;
//}
//
//&::after {
//  top: -45%;
//}
//
//&::before {
//  bottom: -10%;
//}
//}

.line {
  height: 1px;
  width: 100%;
  background-color: $gray;
  border-radius: 10px;
  font-size: 0;

  &:first-child {
    margin-bottom: 15px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clock {
  box-shadow: $outerBoxShadow;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-gap: 10px;
  position: relative;
  transition: opacity 0.5s, font-size 0.5s;

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid $lightBlue;
    box-shadow: inset 0 0 6px $lightBlue, 0 0 3px $lightBlue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }
}

.booked {
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  height: 540px;
  overflow: scroll;
  transition: 0.5s opacity;
  box-shadow: inset 10px 10px 10px $background;
  @extend %montserrat-regular-400;

  &::-webkit-scrollbar {
    width: 0;
    background-color: inherit;
  }
}


