@import '../../App.module.scss';

.sidebar {
  max-width: 350px;
  width: 100%;
  height: 100vh;
  min-height: 760px;
  border-radius: 25px;
  box-shadow: $outerBoxShadow;
  padding: 10px;
  position: sticky;
  top: 0;
  transition: width 0.7s;
}

.sidebar.hide {
  width: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
}

.burger {
  background: $background;
  border-radius: 15px 15px 0 0;
  box-shadow: 2px -2px 4px #ffffff, 0px -3px 6px #b0b0b0;
  padding: 5px 35px;
  z-index: 10;
  transform: rotate(-90deg);
  position: absolute;
  @extend %montserrat-regular-400;
  top: 75px;
  left: -87px;
  transition: 0.5s color;

  &:hover,
  &:focus,
  &:active {
    //box-shadow: inset 1px 2px 3px #b0b0b0, inset -2px 0px 9px #ffffff;
    color: $primaryColor;
  }
}

.info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: $outerBoxShadow;
  padding: 15px;
  border-radius: 15px;
  transition: opacity 0.5s;


  &__userName {
    transition: color 0.5s;

    &:hover {
      color: $primaryColor;
    }
  }

  &__settings,
  &__userImg {
    padding: 10px;
    border-radius: 50%;

    &:hover {
      //animation: rot 1.5s reverse;
      box-shadow: inset 0 1px 6px #b0b0b0, inset -3px 1px 4px #ffffff;
    }
  }
}

.info.hide,
.input.hide,
.booked.hide {
  opacity: 0;
  overflow: hidden;
}

button {
  border: none;
  background: transparent;
  outline: transparent;
  cursor: pointer;
}


.input {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
  transition: 0.5s opacity;


  &::after,
  &::before {
    content: "";
    height: 10px;
    width: 100%;
    box-shadow: 2px 2px 4px #b0b0b0, -2px -1px 4px #ffffff;
    background-color: $background;
    border-radius: 10px;
    position: absolute;

  }

  &::after {
    top: -30px;
  }

  &::before {
    bottom: -35px;
  }
}


.booked {
  padding: 20px;
  box-shadow: $innerBoxShadow;
  //box-shadow: $outerBoxShadow;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  height: 400px;
  overflow: scroll;
  transition: 0.5s opacity;

  &__arrow,
  .active {
    font-size: 0;
    padding: 10px;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 13px;
      height: 3px;
      background-color: #bcccdc;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      transition: 0.5s all;
    }

    &::before {
      transform: rotate(40deg);
      right: 9px;
    }

    &::after {
      transform: rotate(-40deg);
      right: 1px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $primaryColor;

      &::before,
      &::after {
        background-color: $primaryColor;
      }
    }

    &.active {
      color: $primaryColor;

      &::before,
      &::after {
        background-color: $primaryColor;
      }

      &::before {
        transform: rotate(-40deg);
      }

      &::after {
        transform: rotate(40deg);
      }
    }
  }

  &__item {
    box-shadow: $outerBoxShadow;
    //box-shadow: $innerBoxShadow;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;

    //&:hover {
    //  box-shadow: $innerBoxShadow;
    //}
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    border-bottom: 1px solid $gray;
    padding: 0 0 5px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }

  &__list.show {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}



