@import 'styles/reset.styles';
@import 'styles/vars.styles.scss';

body {
  color: var(--text-color);
  line-height: 1.2;
  font-family: sans-serif;
  background: var(--background);
}

button {
  color: var(--text-color);
}

:root {
  --toastify-color-light: #dcdcdc !important;

  --background: #dcdcdc;
  --primary-color: #568cc5;
  --text-color: #a6a6a6;
  --accent-text-color: #000000A6;
  --light-blue: #568cc580;
  --gray: #b0b0b0;
  --white: #ffffff;
  --container-background: #dcdcdc;
  --box-shadow-sidebar-btn-color: #B0B0B099;
  --login-circle: #B0CAE9BF;

  --card-background:#e9e9e9;
  --card-hover-background: #efefef;
  --more-card-background: #ededed;

  --grid-background:#edededae; 

  --light-gray:hsl(0, 0%, 93%);
  // p = percent
  --light-gray-180p: hsla(0, 0%, 69%, 0.18);
  --light-gray-280p: hsla(0, 0%, 69%, 0.28);
  --light-gray-370p: hsla(0, 0%, 69%, 0.37);

  --light-gray-910:hsl(0, 0%, 91%);
  --light-gray-940:hsl(0, 0%, 94%);

  --text-color-930:hsl(0, 0%, 93%);

  --text-color-700: hsl(0, 1%, 70%);
  --text-color-650: hsl(0, 0%, 65%);
  --text-color-500: hsl(0, 0%, 50%);
  --text-color-400: hsl(0, 0%, 40%);
  --text-color-300: hsl(0, 0%, 30%);
  --text-color-200: hsl(0, 0%, 20%);

  --icon-filter: none;
  --icon-color:rgba(0, 0, 0, 0.54);
}