@import 'styles/reset.styles';
@import 'styles/vars.styles.scss';

body {
  color: var(--text-color);
  line-height: 1.2;
  font-family: sans-serif;
  background: var(--container-background);
}

button {
  color: var(--text-color);

}
