@import 'styles/global.module';

.event-calendar-container {
  overflow: hidden;
  padding-left: 8px;

  h3,
  p {
    color: $textColor700;
  }
  .event__title {
    font-size: 0.8rem;
  }
}

.clock-calendar-container {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.8;
  justify-content: flex-end;
  img {
    width: 12px;
    height: 12px;
  }
  p {
    padding-top: 1px;
    font-size: 0.7rem;
    font-weight: 400;
    color: $textColor700;
  }
}

.event-calendar-content {
  display: flex;
  align-items: center;
  gap: 22px;
  max-width: 250px;
  width: 100%;
  justify-content: space-between;

  h3 {
    overflow: hidden;
  }
}
$eventBorderRadius: 5px;
.event__colored-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  // TODO design: maybe 4px?
  width: 3px;
  border-radius: $eventBorderRadius 0 0 $eventBorderRadius;
}

.MuiPaper-root {
  z-index: 100;
  border-radius: 10px !important;
  background: $background !important;
}
