@import "../../styles/global.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $outerBoxShadow;
  border-radius: 10px;
  padding: 15px;
  grid-gap: 10px;
  max-width: 275px;
  width: 100%;
  margin-bottom: 20px;


  &__img {
    border-radius: 5px;
    width: 100%;
  }

  &__name {
    font-size: 17px;
  }

  &__description {
    font-size: 13px;
  }

  &__equipment {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    font-size: 15px;
  }
}

.photo {
  position: relative;

  &__icons {
    display: flex;
    grid-gap: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: var(--background);
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
  }
}

.pre_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    max-height: 45px;
    max-width: 250px;
    padding: 10px 25px;
    border-radius: 15px;
    background: var(--background);
    box-shadow: 3px 3px 7px var(--gray), -1px -2px 5px var(--white);
    color: var(--accent-text-color);
    cursor: pointer;
    transition: 0.5s, text-shadow 0.5s, border 0.5s;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      box-shadow: $innerBoxShadow;
      color: var(--primary-color);
      text-shadow: var(--primary-color) 1px 0 50px;
    }

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 2px solid var(--light-blue);
      box-shadow: inset 0 0 6px var(--light-blue), 0 0 3px var(--light-blue);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
    }

    &:hover {
      &::after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        box-shadow: inset 0 0 6px var(--primary-color), 0 0 3px var(--primary-color);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
      }
    }
  }
}
