@import "styles/global.module";
@import "styles/reset.styles";

body {
  color: #565656;
  line-height: 1.2;
  font-family: sans-serif;
  background: $containerBackground;
}

:root {
  --toastify-color-light: #dcdcdc !important;
}

* {
  @extend %montserrat-regular-400;
}

button {
  color: #565656;
  @extend %montserrat-medium-500;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: center;
  grid-gap: 25px;
  padding: 25px;
  border-radius: 25px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 15px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: $outerBoxShadow;
  }

  h2 {
    border-bottom: 1px solid #b0b0b0;
    padding: 10px 0;
    width: 100%;
  }
}

.header {
  width: 100%;
  border-radius: 15px;
  box-shadow: $outerBoxShadow;
  padding: 25px;
  margin-top: 25px;

  &__menu {
    display: flex;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
  }
}

