@import "./scss/reset.module";
@import "./scss/vars.module";
@import "./scss/global.module";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  padding: 25px;
  box-shadow: $outerBoxShadow;
  border-radius: 25px;
  min-height: 100vh;
}


.inputs-wrapper{
  width: 100%;
  display: flex;
  gap: 45px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.checkboxes-wrapper{
  flex-direction: row;
}