@import "styles/reset.module";
@import "styles/vars.module";
@import "styles/global.module";
@import 'styles/mixins.module';

.header {
  width: 100%;
  border-radius: 15px;
  box-shadow: $outerBoxShadow;
  padding: 25px;
  margin-top: 25px;

  &__menu {
    display: flex;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
  }
}

