@import "styles/global.module";
@import "styles/reset.styles";

body {
  color: var(--text-color);
  line-height: 1.2;
  font-family: sans-serif;
  background: var(--container-background);
}

:root {
  --toastify-color-light: #dcdcdc !important;
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all .5s;
}

* {
  @extend %montserrat-regular-400;
}

button {
  @extend %montserrat-medium-500;
}

.header {
  width: 100%;
  border-radius: 15px;
  box-shadow: $outerBoxShadow;
  padding: 25px;
  margin-top: 25px;

  &__menu {
    display: flex;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
  }
}

