@import "./styles/reset.module";
@import "./styles/vars.module";
@import "./styles/global.module";


.wrapper {
  display: flex;
  gap: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-wrapper{
  display: flex;
  gap: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}