@import "vars.module";

body {
  background-color: $background;
  font-family: sans-serif;
  padding: 50px;
}


.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

//:global(.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root) {
//  background-color: red !important;
//}
