$default: #000000;
$background: #dcdcdc;
$primaryColor: #568cc5;
$white: #ffffff;
$gray: #b0b0b0;
$CalendarBntColor: #656565;
//#656565

$outerBoxShadow: 3px 3px 7px $gray,
-3px -3px 7px #ffffff;
$innerBoxShadow: inset 3px 3px 7px $gray,
inset -3px -3px 7px #ffffff;

//:root {
//  --background: #1d1d1d;
//  --text-primary: #ffffff;
//  --input: rgb(58, 58, 58);
//}
//
//[data-theme='light'] {
//  --background: #dedede;
//  --text-primary: #000000;
//  --input: rgb(199, 199, 199);
//}
